extends layout

block content
  h1 GrAfIcAl DeSiGn
  h3 You've met with a terrible fate, haven't you ?  
  div(style="left:6%; position:relative; width:200px")
    a(href='./fuck') a fucking waste of time
