extends layout 

block content 
	h1 aha get pranked 
	a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQZ') FUCK
	form(method="post")
		div.input
			input(type="text", name="message")
		div.actions
			input(type="submit", value="Annoy the shit outta me")
