extends layout 

block content 
	h1 fuck
	h3 so uh i more or less burned my d1 mini while testing some shit 
	h3 so there you go, the code should work at least for colorwipe 
	h3 when it connects it leaves a its in the serial (9600 baud rate)
	h3 then you need to go to its plus colorwipe ip webpage (eg 10.0.0.2/colorwipe) in a browser
	h3 let the magic happen and gl not burning ur shit 
	a(href=/code.ino) the piece of shit i spent over 40 hours on cuz i rewrote it fucken 7 times 